pre {
    word-wrap: break-word;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid red;
}

th {
  border: 1px solid green;
}
