/* CSSで使用できる属性は https://beginners-hp.com/css-property/ を参考に */
body {
  margin: 20px;             /* 表示周囲の余白 */
}

h1 {
  text-align: center;       /* 中央に表示 */
  color: black;             /* 文字は黒色 */
  background-color: pink;   /* 背景はピンク */
}

ol {
  background-color: lightgray;
}

table {
  border-collapse: collapse; /* <td><th>要素間の隙間なし */
  margin: auto;              /* 表全体を中央に表示する */
}

thead {
  background-color: aqua;    /* 背景色 */
}

th, td {
  padding: 5px 10px;         /* 余白 上下，左右 */
}

th {
  border: 2px solid black;
}

td {
  border: 1px solid black;   /* 罫線 */
}

img{
  margin: 5px 10px;
}

.number {                    /* クラス指定 */
  text-align: right;
}

